@font-face {
  font-family: 'Lato-Bold';
  src: url('fonts/Lato-Bold.woff') format('woff'), url('fonts/Lato-Bold.ttf')  format('truetype');  
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url('fonts/Lato-Hairline.woff') format('woff'), url('fonts/Lato-Hairline.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Heavy';
  src: url('fonts/Lato-Heavy.woff') format('woff'), url('fonts/Lato-Heavy.ttf')  format('truetype');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('fonts/Lato-Light.woff') format('woff'), url('fonts/Lato-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('fonts/Lato-Medium.woff') format('woff'), url('fonts/Lato-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('fonts/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url('fonts/Lato-Semibold.woff') format('woff'), url('fonts/Lato-Semibold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('fonts/Lato-Thin.woff') format('woff'), url('fonts/Lato-Thin.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/Roboto-Bold.eot') format('eot'), url('fonts/Roboto-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/Roboto-Light.eot') format('eot'), url('fonts/Roboto-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('fonts/Roboto-Medium.eot') format('eot'), url('fonts/Roboto-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto-Regular.eot') format('eot'), url('fonts/Roboto-Regular.ttf')  format('truetype');
}