.router-link-active {
  color: #666769 !important;
  padding: 10px 20px !important;
  font-weight: 600;
  border-left: 4px solid #1f95f2 !important;

  .img {
    color: #4c8ce4 !important;
  }
  .icon-img {
    display: none !important;
  }
  .icon-img-active {
    display: inline-block !important;
  }
}

.icon-img-active {
  display: none !important;
}
